<!DOCTYPE html>
<html>
<head>
<title>Arduino webinar</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
*{
box-sizing:border-box;
}
.card{
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
padding:16px;
}
button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
outline:none;
  background-color:green;
border-radius:12px;
}

</style>
</head>
<body style="background-image:url('https://lh3.googleusercontent.com/-YZIZTUNbhWs/X47aytnHaqI/AAAAAAAAWtw/MpWwADlqbZ8wiev6xBLRhpPVirRdN0JogCK8BGAsYHg/s512/2020-10-20.png');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;">

<div class="row" style="text-align:center;font-size:300%;background-image:url('https://wallpapercave.com/wp/wp2163542.jpg');background-repeat: no-repeat;
  
 background-size:20% 100%;padding:2%;background-color:black;color:white;">THE ARDUINO</div>
<div class="container-fluid">
<div class="row">
<div class="col-sm-1"></div>
  <div class="col-sm-5" style="padding : 50px">
<div class="card">
    <p style="font-size:150%;">&nbsp &nbsp This webinar is about the learning of the basics of Arduino IDE along with Arduino UNO. Here we can learn how to make simple embedded systems with the help of Arduino and the basic knowledge of C programming language (here we refer to embedded C).This webinar will be conducted for two days and the agenda for this programme is shown.</p>
<br>
<table style="width:100%;font-size:150%;border-collapse:separate;border-spacing:0 15px;">
  <th>Details</th>
  <tr>
    <td width="45%">Lecturer Name</td>
    <td width="5%">:</td>
    <td>Mr.Kumaran.C.S. BE</td>
  </tr>
  <tr>
    <td width="45%">Duration</td>
    <td>:</td>
    <td>Two Days</td>
  </tr>
  <tr>
    <td width="45%">Start Date</td>
    <td>:</td>
    <td>24/10/2020</td>
  </tr>
  <tr>
    <td width="45%">End Date</td>
    <td>:</td>
    <td>25/10/2020</td>
  </tr>
  <tr>
    <td width="45%">Timing</td>
    <td>:</td>
    <td>10.00AM-4.00PM</td>
  </tr>
</table>
<br>
<p style="font-size:150%"><u>Note:</u>The idea and the ways to do a mini-project will be taught in the last section.So,attend this webinar with PC and arduino kit for better experience.</p><br>
</div>
  </div>

  <div class="col-sm-5" style="padding : 50px">
<div class="card">
  
    <table style="width:100%;font-size:150%;border-collapse:separate;border-spacing:0 15px;">

  <th>Day-1</th>
<tr>
  <td width="45%">10AM-11.30AM</td>
  <td width="5%">:</td>
  <td>Basics of Arduino</td>
</tr>
<tr>
  <td width="45%">11.30AM-11.45AM</td>
  <td>:</td>
  <td>Break</td>
</tr>
<tr>
  <td width="45%">11.45AM-1.00PM</td>
  <td>:</td>
  <td>Arduino IDE Installation</td>
</tr>
<tr>
  <td width="45%">1.00PM-2.00PM</td>
  <td>:</td>
  <td>Lunch Break</td>
</tr>
<tr>
  <td width="45%">2.00PM-4.00PM</td>
  <td>:</td>
  <td>Syntax of Embedded C</td>
</tr>

  <th>Day-2</th>
<tr>
  <td width="45%">10AM-11.30AM</td>
  <td>:</td>   
  <td>Embedded C Programming</td>
</tr>
<tr>
  <td width="45%">11.30AM-11.45AM</td>
  <td>:</td>
  <td>Break</td>
</tr>
<tr>
  <td>11.45AM-1.00PM</td>
  <td>:</td>
  <td>Embedded C Programming</td>
</tr>
<tr>
  <td>1.00PM-2.00PM</td>
  <td>:</td>
  <td>Lunch Break</td>
</tr>
<tr>
  <td>2.00PM-4.00PM</td>
  <td>:</td>
  <td>Mini Project</td>
</tr>
</table>
<br>
<center><button onclick={myFunction()}>Register Now</button><center>


<script>
function myFunction() {
let a="Arduino";
localStorage.setItem('objectToPass',a);
  window.location.href="reg.html";
}
</script>
  </div>
</div>
</div>
</div>
</body>
</html>
